<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Constancia de donación de libro - {{ codigoEstudiante }}</title>
    <style type="text/css">
        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_mskak78ti8b1-0>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-1>li:before {
            content: "-  "
        }

        .lst-kix_list_3-0>li:before {
            content: "-  "
        }

        ul.lst-kix_list_5-7 {
            list-style-type: none
        }

        ul.lst-kix_list_5-8 {
            list-style-type: none
        }

        .lst-kix_list_3-1>li:before {
            content: "-  "
        }

        .lst-kix_list_3-2>li:before {
            content: "-  "
        }

        ul.lst-kix_list_5-5 {
            list-style-type: none
        }

        ul.lst-kix_list_5-6 {
            list-style-type: none
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        .lst-kix_list_3-5>li:before {
            content: "-  "
        }

        ul.lst-kix_list_5-0 {
            list-style-type: none
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        .lst-kix_list_3-4>li:before {
            content: "-  "
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_5-3 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        .lst-kix_list_3-3>li:before {
            content: "-  "
        }

        ul.lst-kix_list_5-4 {
            list-style-type: none
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_5-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_5-2 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        .lst-kix_list_3-8>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-7>li:before {
            content: "-  "
        }

        .lst-kix_list_3-6>li:before {
            content: "-  "
        }

        .lst-kix_list_3-7>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-8>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-3>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-4>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-2>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-6>li:before {
            content: "-  "
        }

        .lst-kix_mskak78ti8b1-5>li:before {
            content: "-  "
        }

        .lst-kix_list_5-0>li:before {
            content: "-  "
        }

        .lst-kix_list_4-8>li:before {
            content: "-  "
        }

        .lst-kix_list_5-3>li:before {
            content: "-  "
        }

        .lst-kix_list_4-7>li:before {
            content: "-  "
        }

        .lst-kix_list_5-2>li:before {
            content: "-  "
        }

        .lst-kix_list_5-1>li:before {
            content: "-  "
        }

        ul.lst-kix_list_4-8 {
            list-style-type: none
        }

        .lst-kix_list_5-7>li:before {
            content: "-  "
        }

        ul.lst-kix_list_4-6 {
            list-style-type: none
        }

        .lst-kix_list_5-6>li:before {
            content: "-  "
        }

        .lst-kix_list_5-8>li:before {
            content: "-  "
        }

        ul.lst-kix_list_4-7 {
            list-style-type: none
        }

        ul.lst-kix_list_4-0 {
            list-style-type: none
        }

        ul.lst-kix_list_4-1 {
            list-style-type: none
        }

        .lst-kix_list_5-4>li:before {
            content: "-  "
        }

        ul.lst-kix_list_4-4 {
            list-style-type: none
        }

        .lst-kix_list_5-5>li:before {
            content: "-  "
        }

        ul.lst-kix_list_4-5 {
            list-style-type: none
        }

        ul.lst-kix_list_4-2 {
            list-style-type: none
        }

        ul.lst-kix_list_4-3 {
            list-style-type: none
        }

        .lst-kix_list_2-6>li:before {
            content: "-  "
        }

        .lst-kix_list_2-7>li:before {
            content: "-  "
        }

        .lst-kix_list_2-4>li:before {
            content: "-  "
        }

        .lst-kix_list_2-5>li:before {
            content: "-  "
        }

        .lst-kix_list_2-8>li:before {
            content: "-  "
        }

        ul.lst-kix_list_3-7 {
            list-style-type: none
        }

        ul.lst-kix_list_3-8 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-8 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-7 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-4 {
            list-style-type: none
        }

        ul.lst-kix_list_3-1 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-3 {
            list-style-type: none
        }

        ul.lst-kix_list_3-2 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-6 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_3-0 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-0 {
            list-style-type: none
        }

        ul.lst-kix_list_3-5 {
            list-style-type: none
        }

        ul.lst-kix_list_3-6 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_3-3 {
            list-style-type: none
        }

        ul.lst-kix_mskak78ti8b1-1 {
            list-style-type: none
        }

        ul.lst-kix_list_3-4 {
            list-style-type: none
        }

        .lst-kix_list_4-0>li:before {
            content: "-  "
        }

        .lst-kix_list_4-1>li:before {
            content: "-  "
        }

        .lst-kix_list_4-4>li:before {
            content: "-  "
        }

        .lst-kix_list_4-3>li:before {
            content: "-  "
        }

        .lst-kix_list_4-5>li:before {
            content: "-  "
        }

        .lst-kix_list_4-2>li:before {
            content: "-  "
        }

        .lst-kix_list_4-6>li:before {
            content: "-  "
        }

        ul.lst-kix_list_2-8 {
            list-style-type: none
        }

        ul.lst-kix_list_2-2 {
            list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
            content: "-  "
        }

        ul.lst-kix_list_2-3 {
            list-style-type: none
        }

        ul.lst-kix_list_2-0 {
            list-style-type: none
        }

        ul.lst-kix_list_2-1 {
            list-style-type: none
        }

        ul.lst-kix_list_2-6 {
            list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
            content: "-  "
        }

        .lst-kix_list_1-2>li:before {
            content: "-  "
        }

        ul.lst-kix_list_2-7 {
            list-style-type: none
        }

        ul.lst-kix_list_2-4 {
            list-style-type: none
        }

        ul.lst-kix_list_2-5 {
            list-style-type: none
        }

        .lst-kix_list_1-3>li:before {
            content: "-  "
        }

        .lst-kix_list_1-4>li:before {
            content: "-  "
        }

        .lst-kix_list_1-7>li:before {
            content: "-  "
        }

        .lst-kix_list_1-5>li:before {
            content: "-  "
        }

        .lst-kix_list_1-6>li:before {
            content: "-  "
        }

        .lst-kix_list_2-0>li:before {
            content: "-  "
        }

        .lst-kix_list_2-1>li:before {
            content: "-  "
        }

        .lst-kix_list_1-8>li:before {
            content: "-  "
        }

        .lst-kix_list_2-2>li:before {
            content: "-  "
        }

        .lst-kix_list_2-3>li:before {
            content: "-  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c21 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c13 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c11 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c20 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c12 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c17 {
            text-decoration-skip-ink: none;
            font-size: 23pt;
            -webkit-text-decoration-skip: none;
            text-decoration: underline
        }

        .c14 {
            /* background-color: #f2eeed; */
            background-color: #ffffff;
            max-width: 451.3pt;
            /* padding: 0 48pt; */
            padding: 24pt 0pt 24pt 66pt;
        }

        .c7 {
            height: 11pt
        }

        .c19 {
            font-size: 9pt
        }

        .c18 {
            margin-left: -18.4pt
        }

        .c5 {
            font-weight: 700
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
    <style>
        .tabla {
            border-collapse: separate;
            border-spacing: 0px;
            /* Ajusta el valor según el espacio deseado */
            /* Elimina cualquier espaciado entre celdas */
        }

        .tabla .data {
            vertical-align: center;
        }

        .tabla p {
            text-align: left;
        }

        .tabla .data p {
            padding-top: 2px;
        }

        .tabla tbody .c15 {
            font-weight: bold;
        }

        .tabla tr {
            border-top: 1px solid black;
        }

        .tabla .data .c9 {
            text-indent: -8px;
            text-align: justify;
        }
    </style>
</head>

<body class="c14 doc-content">
    <div>
        <img alt="" src="{{host}}/img/unap.png"
            style="width: 60px; height: 60px;  position: absolute; top:24pt; left:66pt" title="">
        <img alt="" src="{{host}}/img/epis.png"
            style="width: 60px; height: 60px;  position: absolute; top:24pt; right:66pt" title="">
        <p class="c9"><span class="c1">UNIVERSIDAD NACIONAL DEL ALTIPLANO</span></p>
        <p class="c9"><span class="c1">FACULTAD DE INGENIERIA MECANICA ELECTRICA, ELECTRONICA Y SISTEMAS</span></p>
        <p class="c9"><span class="c1">ESCUELA PROFESIONAL DE INGENIER&Iacute;A DE SISTEMAS</span></p>
        <p class="c7 c9"><span class="c1"></span></p>
    </div>
    <div class="dim">
        <p class="c16"><span class="c5 c17">CONSTANCIA N&deg;{{constanciaNum}} - {{constanciaYear}} </span></p>
        <p class="c4"><span class="c21"></span></p>
        <p class="c4"><span class="c21"></span></p>
        <p class="c20"><span class="c3">EL QUE SUSCRIBE, COORDINADOR DE RECURSOS DEL APRENDIZAJE DE LA BIBLIOTECA
                ESPECIALIZADA DE LA ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS - UNIVERSIDAD NACIONAL DEL
                ALTIPLANO.</span></p>
        <p class="c4"><span class="c3"></span></p>
        <p class="c10"><span class="c3">HACE CONSTAR:</span></p>
        <p class="c4"><span class="c0"></span></p>
        <p class="c20"><span>Que, <b>{{ nombres }} {{ apellidos }}</b> con <b>DNI Nro. {{dni}}</b> y codígo de
                matricula <b>{{codigoEstudiante}}</b>, egresado de la Escuela Profesional de Ingeniería de Sistemas, Facultad de
                Ingenieria Mecanica Electrica, Electronica y Sistemas, ha realizado la <b>DONACÍON DE UN LIBRO a la
                    biblioteca especializada de Ingeniería de Sistemas,</b> cuya ficha técnica es:</span></p>
        <p class="c4"><span class="c0"></span></p>
    </div>
    <div class='some-page-wrapper'>

        <table class='tabla'>
            <thead>
                <tr>
                    <th style="width:200px"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="vertical-align: top">
                <tr>
                    <td>
                        <p class="c9"><span class="c15">TÍTULO</p>
                    </td>
                    <td class='data'>
                        <p class="c9"><span>: {{ libroTitulo }} </span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">AUTORES</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroAutores }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">EDITORIAL</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroEditorial }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">ENCUADERNACÍON</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroEncuadernacion }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">AÑO DE EDICIÓN</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroAEdicion }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">FECHA DE LANZAMIENTO</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroFechaLanzamiento }} </span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">IDIOMA</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroIdioma}}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">ISBN</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroIsbn }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">NÚMERO DE PÁGINAS</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroNumPaginas}}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">DIMENSIONES</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroDimensiones }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="c9"><span class="c15">PESO</p>
                    </td>
                    <td class="data">
                        <p class="c9"><span>: {{ libroPesoFisico }}</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="c4"><span class="c0"></span></p>
    <p class="c20"><span class="c0">Por lo anterior, se declara que el donativo ha sido efectuado satisfactoriamente por
            solicitud del interesado para los fines que considere conveniente.</span></p>
    <p class="c4"><span class="c0"></span></p>

    <table class="libro-firma">
        <thead>
            <tr>
                <th style="width:200px"></th>
                <th style="width:50px"></th>
                <th style="width:360px"></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>
                    &nbsp;
                </td>
                <td></td>
                <td class="data">
                </td>
            </tr> -->
            <tr>
                <td rowspan="4">
                    <div style="margin:auto">
                        <img src="{{ libroPortadaFile }}"
                            style="display:block; padding:5px; margin:0 auto; border:1px solid black; width: 150px; height: 200px;">
                    </div>
                    <p class="c9"><b>Portada del Libro</b></p>
                </td>
                <td>

                </td>
                <td class='data'>
                    <p class="c9" style="text-align:right"><span>Puno, {{ fechaGeneracionConstancia }}. </span></p>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="data">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="data">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class='data' style="vertical-align: bottom;">

                    <p class="c9">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <span class="c11">_________________________________________</span><br>
                        <span class="c11">{{ evaluadoPor }}</span><br>
                        <span class="c13">COORDINADOR DE RECURSOS DEL APRENDIZAJE</span><br>
                        <span class="c11"><b>(Biblioteca)</b></span>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    &nbsp;
                </td>
                <td></td>
                <td class='data'>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="c9" style="text-align:left"> <i>/D. A. R. A.</i><br>
                        C. C</p>
                </td>
                <td></td>
                <td class='data'>
                </td>
            </tr>
            <tr>
                <td style="line-height:0.9em">
                    <small>- Interesado</small> <br>
                    <small>- Archivo Biblioteca</small>
                </td>
                <td></td>
                <td class='data'>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>